# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.user
*.vcxproj

# Qt Creator files
.qtc_clangd
.qmake.stash
Makefile*
clipnet_plugin_import.cpp
intermediate/

log.txt
